{% extends "base.html" %}


{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <center>
          <h1>Simplebox</h1>
          <p> The simpler way to share files </p>
        </center>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span2 offset4">
          <p><a id="upload-btn" class="btn btn-inverse btn-large">Give a file</a></p>
            
           
        </div>
        <div class="span3">
          
          <p><a id="search-btn" class="btn btn-inverse btn-large">Get a file</a></p>
         
       </div>
       
      </div>

    </br> </br>
      <div class="row">

        <div class="span4 offset2">
          <!-- Upload a File -->
          <p>Select a file: <input id="fileinput" type="file"></p>
          <p>Encrypt the uploaded file: <input id="encrypt" type="checkbox" value="encrypt" /></p>
          <p>Password: <input id="password" type="password"></p>

              <div class="fileupload fileupload-new" data-provides="fileupload" id="upload" visibility="hidden">

                <div class="input-append">
                    <div class="uneditable-input span2">
                      <i class="icon-file fileupload-exists"></i>
                       <span class="fileupload-preview"></span
                    ></div>
                    <span class="btn btn-file">
                      <span class="fileupload-new">Select file</span>
                      <span class="fileupload-exists">Change</span>
                     
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
              </div>
        </div>

        <div class="span3" >
           <div class='input-append' id="search" visibility="hidden">
            <input placeholder="Search..." />
            <button class='btn add-on'>
              <i class="icon-search"></i>
           </button>
          </div>

        </div>
      </div>

      <hr>

      <footer>
        <p>© Company 2012</p>
      </footer>
{% endblock content %}