{% extends "base.html" %}


{% block content %}

<div class="row">
 <div class="span3" >
           <div class='input-append' >
            <input id="search-input" placeholder="Search..." />
            <button class='btn add-on'>
              <i class="icon-search" id="search-image"></i>
           </button>
         </div>
  </div>
</div>

<div class= "row">
  <div class="span3">
    <table class="table" id="data-table" >
    <thead>
      <tr>
        <th> Matched Files </th>
      </tr>
    </thead>
    <tbody>

    </tbody>


  </table>
  </div>
</div>


{% endblock content %}

{% block js %}
<script id="search-result-template" type="text/template">
  <tr>

    <td><img src="{{STATIC_URL}}ico/document.ico" width="44" height="45"/></td>
    <td>
      <a class="filelink" href=<%= link %> is_encrypted=<% is_encrypted %>>
        <%= filename %>
      </a>
    </td>
    <td><input id="input-decrypt" placeholder="Decryption Password...">  </input></td>


  </tr>
</script>


<script type="text/javascript" src="{{STATIC_URL}}js/search.js"></script>
{% endblock js %}